@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sora:wght@600&display=swap');

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color:var(--neutral-800) !important;

}

a{
    text-decoration: none !important;
    color:var(--neutral-800) !important;
}

.container{
    padding: 0 !important;
    max-width: 1150px;
    width: 100%;
    margin: auto !important;
    overflow: hidden;
}

/*--> Configs gerais <--*/

.titulo-section{
    font-family: 'Sora', cursive;
    font-size: 6.0rem;
    line-height: 6.5rem;
}

p{
    font-size: 1.6rem;
    line-height: 25px;
}

/* Cores */
:root{
    --primary-900: #C92923;
    --primary-800: #D6342B;
    --primary-700: #E83C30;
    --primary-PADRAO: #F74231;
    --primary-500: #F75647;
    --primary-400: #F7786A;
    --primary-300: #FB9388;
    --primary-200: #FEB3A9;
    --primary-100: #FEC9C2;
    --primary-50: #FEE1DE;

    --neutral-900: #26222E;
    --neutral-800: #332F3C;
    --neutral-700: #434150;
    --neutral-PADRAO: #777485;
    --neutral-500: #9E9CAF;
    --neutral-400: #C5C4D6;
    --neutral-300: #D5D4E4;
    --neutral-200: #F1F1F8;
    --neutral-100: #F1F1F8;
    --neutral-50: #FFFFFF;
}
